@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Lobster&family=Roboto:wght@300;400&display=swap');
/* FONTS */
$fonts-headline: 'Bebas Neue', arial, sans-serif;
$fonts-body: Roboto, verdana, sans-serif;
$font-link-archive: Lobster, serif;
$font-link-resource: Aclonica, serif;

/* COLORS */
$background-color: #d1dbe4;
$primary: #194a7a;
$accent1: #476f95;
$accent2: #7593af;
$grey-sidebar: #a3b7ca;
$text-dark: #194a7a;
$text-light: #d1dbe4;
