@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

/* MAIN SITE */
* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: white;
  margin: 0;
  padding: 1em;
  position: relative;
}

.page-wrapper {
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 30% 1fr 15%;
    grid-gap: 10px;
  }

  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}






 //h2 {
 // animation: change-size 5s infinite;
 //}
 //@keyframes change-size {
 //  100% {
 //   font-size: 50px;
 //  }
 //}


/* ZEN INTRO */
#zen-intro {

  @include breakpoint(large) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    grid-gap: 10px;
  }
  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  padding: 0;
  margin: 0;
}

header {
  @include breakpoint(large) {
    text-align: left;
    background-image: $shark;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  @include breakpoint(small) {
    text-align: center;
    //insert small shark header here
  }
  padding: 20px;
}

/* ZEN SUMMARY */
#zen-summary {
  @include breakpoint(large) {
    height: 400px;
    font-size: 18px;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  @include breakpoint(small) {
    padding: 20px;
    font-size: 15px;
  }
  background-color: $accent2;
}

/* ZEN PREAMBLE */
#zen-preamble {
  @include breakpoint(large) {
    font-size: 18px;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }
  @include breakpoint(small) {

  }
  margin: 0;
  padding: 20px;
  background-color: $accent1;
  color: $text-light;
}

#zen-preamble > h3 {
  padding: 0;
  text-align: center;
}


/* ZEN SUPPORTING*/
#zen-supporting {
  @include breakpoint(large) {
    grid-column: 2 / -1;
    grid-gap: 10px;
    // margin: -40px 0 0 0;
    margin-top: -5%;
  }
  @include breakpoint(small) {
    row-gap: 10px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#zen-supporting > div {
  color: $text-light;
  background-color: $accent1;
  padding: 20px;
}

#zen-supporting > div > h3 {
  text-align: center;
}

#zen-supporting > div:nth-child(odd) {
    background-color: $accent2;
    color: $text-dark;
}

#zen-supporting > div > p > a {
  color: $text-light;
  border-bottom: 1px solid $text-light;
}

#zen-requirements {
  background-image: $dolphin;
}


/* SIDEBAR */
.sidebar {
  @include breakpoint(large) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: $octopus;
  }
  @include breakpoint(small) {
    text-align: center;
    // insert small octopus background here
  }
}

.sidebar > .wrapper {
  @include breakpoint(large) {
    margin-top: 150px;
    text-align: right;
  }
  @include breakpoint(small) {
    padding: 20px;
    margin-bottom: 80px;
  }
}

#design-selection > nav > ul {
  padding: 0;
}

#design-selection > nav > ul > li {
  list-style-type: none;
  margin: 10px 0;
}

#design-selection > nav > ul > li > a {
  margin: 0 5px;
}

#design-archives {
  margin-top: 30px;
}

#design-archives > nav {
  @include breakpoint(large) {
    ul > li {
      padding: 0;
      margin: 0;
    }
  }
  @include breakpoint(small) {
    display: flex;
    padding: 0;
    justify-content: center;
    .next {
      float: right;
    }
    .viewall {
      float: left;
    }
  }
}

#design-archives > nav > ul {
  padding: 0;
}

#design-archives > nav > ul > li {
  @include breakpoint(large) {
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 10px;
  }
  @include breakpoint(small) {
    padding: 10px;
    margin: 10px;
  }
  list-style-type: none;
}


/* FOOTER */
footer {
  @include breakpoint(large) {
    padding: 10px;
    margin: 10px;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 80px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  @include breakpoint(small) {
    padding: 10px;
    margin: 150px 10px 10px 10px;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 80px;
  }
}

footer > a {

  @include breakpoint(large) {

  }

  @include breakpoint(small) {
    
  }

  float: left;
  margin: 5px;
}

/* ZEN RESOURCES */
#zen-resources {
  @include breakpoint(large) {

  }
  @include breakpoint(small) {
    
  }

  padding: 0;
  margin: 0;
  background-color: $background-color;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 70%;
  height: 80px;
}

#zen-resources > ul {
  padding: 0;
  margin: 0;
}

#zen-resources > ul > li {
  list-style-type: none;
}

#zen-resources > ul > li > a {
  font-size: 15px;
  background-color: $accent2;
  color: $primary;
  transition: background-color .3s ease-in-out;
  padding: 5px;
  margin: 0 10px 15px 0;
  float: right;
}

#zen-resources > ul > li > a:hover {
  font-size: 15px;
  background-color: $primary;
  color: $accent2;
}
















/* LINK ANIMATIONS */

.design-name {
  font-size: 20px;
  box-shadow: inset 0 0 0 0 $primary;
  color: $primary;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.design-name:hover {
  box-shadow: inset 300px 0 0 0 $primary;
  color: white;
}

.designer-name {
  font-size: 20px;
  position: relative;
  padding-bottom: .1em;
}

.designer-name::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: $primary;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.designer-name:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.next > a, .viewall > a, footer > a {
  font-size: 30px;
  background-color: $accent2;
  color: $primary;
  transition: background-color .3s ease-in-out;
  padding: 5px;
}

.next > a:hover, .viewall > a:hover, footer > a:hover {
  font-size: 30px;
  background-color: $primary;
  color: $accent2;
}


/* Footer Transition */

footer a {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 10px 0;
  color: $background-color;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: $background-color;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

footer a:hover {
  color: $accent2;
}

footer a::after {
  width: 100%;
}



